/Assignment.class
/Assignment1.class
/Assignment10.class
/Assignment2.class
/Assignment3.class
/Assignment4.class
/Assignment5.class
/Assignment6.class
/Assignment7.class
/Assignment8.class
/Assignment9.class
/GuessNumber.class
/OuterClass.class
/Practice1.class
/Practice2.class
